@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";
body {
  font-family: 'Poppins', sans-serif;
  background-color: #10171F;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }
}

.float-animation {
  animation: float 4s ease-in-out infinite;
}
html {
  scroll-behavior: smooth;
}